body {
  padding: 0;
  margin: 0;
  font-family: 'Jua', sans-serif;
  background-color: #4b4a54;
  margin-top: 100px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 10px;
}

li {
  font-size: 18px;
  align-items: center;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}
.mywork li:hover {
  transition: all 0.5s;
  transform: scale(1.2);
  translate: 10px;
}

#calendar > tr > td {
  cursor: pointer;
  text-align: end;
  padding-bottom: 50px;
  padding-right: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}

#calendar > tr > td:hover {
  transform: scale(1.1);
  background-color: #82a0aa;
}

.unvisible {
  visibility: hidden;
}

.checked {
  transform: scale(1.1);
  background-color: #82a0aa;
  color: black;
}

.now {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
  width: 40%;
  margin-left: 50%;
  position: relative;
  right: 20%;
  transform: scale(1.1);
}
.now:hover {
  transform: scale(1.2);
}

.year {
  font-size: 30px;
  margin-right: 10px;
}
.month {
  font-size: 25px;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 3%;
  height: 558px;
}

.calendar_container {
  height: 100%;
  display: inline;
}

.month_container {
  background-color: white;
  width: 100%;
  height: 558px;
  display: none;
  flex-direction: column;
}

.before,
.after {
  height: 20px;
}

.month_container_year {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}
.month_container_year > button {
  font-size: 30px;
  transition-duration: 1s;
}
.month_container_year > button:first-child:hover {
  transform: scale(1.2) translateX(-50%);
}
.month_container_year > button:last-child:hover {
  transform: scale(1.2) translateX(50%);
}
.month_container_month {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#month_container {
  width: 80%;
  height: 70%;
  background-color: #677381;
  border-radius: 10px;
}
#month_container td {
  text-align: center;
  background-color: #2a272a;
  color: white;
}
#month_container td:hover {
  background-color: #677381;
}

.table {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#calendar {
  color: white;
  background-color: #677381;
}

.popup {
  position: absolute;
  background-color: #4b4a54;
  height: 558px;
  width: 35%;
  position: absolute;
  right: 0%;
  top: 95px;
  display: none;
  border-radius: 10px;
}

.today {
  color: blanchedalmond;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.istoday {
  background-color: rosybrown;
}

.todo_list {
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: 500px;
  margin-right: 15px;
  position: relative;
  right: 5px;
  border-radius: 10px;
}

.work {
  position: absolute;
  background-color: white;
  height: 500px;
  width: 30%;
  right: 0%;
  top: 158px;
  margin-right: 30px;
  border-radius: 10px;
}

.mywork {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mywork span {
  font-size: 20px;
  background-color: #677381;
  color: white;
  padding: 5px;
}

.x {
  position: relative;
  top: 50px;
  right: 5px;
  height: 526px;
  color: white;
  font-size: 20px;
  background-color: #4b4a54;
  padding-right: 5px;
}
button {
  padding: 0px;
}
.x :hover {
  transform: scale(1.1);
  color: #82a0aa;
}

.items {
  height: 430px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header {
  padding-top: 20px;
  font-size: 18px;
  border-radius: 10px;
}

.item div {
  display: flex;
  justify-content: end;
}

.item__name {
  width: 100%;
  text-align: start;
}

.item__delete {
  font-size: 16px;
  transition: all 300ms ease-in;
  padding: 3px;
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
}

.item__divider {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

.footer {
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer__input {
  background-color: #677381;
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 16px;
  border-bottom-left-radius: 10px;
  color: white;
}

.footer__button {
  background-color: #677381;
  width: 48px;
  height: 32px;
  font-size: 28px;
  color: white;
  transition: transform 300ms ease-in;
  border-bottom-right-radius: 10px;
}

.footer__button i {
  transition-duration: 500ms;
}

.footer__button i:hover {
  transform: scale(1.1);
}

.buttons button:first-child:hover {
  color: green;
}
.line {
  text-decoration-line: line-through !important;
  text-decoration-color: red !important;
  text-decoration-thickness: 2px !important;
  -webkit-text-decoration-line: line-through !important;
  -webkit-text-decoration-color: red !important;
  -webkit-text-decoration-thickness: 2px !important;
}

#weather {
  position: absolute;
  right: 30px;
  top: 3%;
  z-index: 2;
}
.overview_weather {
  left: 6%;
  right: 0px;
}

#clock {
  position: absolute;
  right: 28px;
  top: 2%;
  z-index: 2;
  font-size: 35px;
  transform: translate(-5%, -5%);
}
.overview_clock {
  left: 10%;
  right: 0px;
}

.overviewBtn {
  position: absolute;
  z-index: 2;
  top: 130px;
  right: 38%;
  cursor: pointer;
}

.overviewBtn:hover {
  transform: scaleX(1.1);
  color: rosybrown;
}

.BtnAfter {
  font-size: 50px;
  top: 80px;
  left: 5%;
}

.overviews_container {
  display: none;
  position: absolute;
  top: 180px;
  width: 100%;
  height: 210%;
  flex-direction: column;
}

.overviews_table {
  background-color: #677381;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 240px;
}

#overviews > tr > td {
  text-align: end;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
#overviews {
  width: 1em;
  height: 1em;
}
.overview {
  width: 1em;
  height: 160px;
}

.overview_day {
  color: white;
  text-align: center;
  width: 100%;
}

.overview_todo_list {
  width: 100%;
  height: 160px;
  cursor: pointer;
  background-color: white;
  display: flex;
  border-radius: 10px;
  transition: all 0.3s;
}

.overview_todo_list:hover {
  transform: scale(1.1);
}

.overview_items {
  width: 140px;
  overflow-y: scroll;
  color: grey;
}

.overview_items li {
  align-items: start;
  text-align: start;
  font-size: 1em;
}

.overview_popup {
  display: none;
  position: absolute;
  left: 32%;
  top: 25%;
  z-index: 2;
  transform: translate3d(0, 0, 2px);
  -webkit-transform: translate3d(0, 0, 2px);
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  -o-transform: translateZ(2px);
  transform: translateZ(2px);
}

.background_cover {
  margin-top: 50px;
  background-color: black;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 82%;
  opacity: 50%;
  z-index: 1;
  transform: translate3d(0, 0, 1px);
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}

@media screen and (max-width: 661px) {
  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .calendar {
    width: 100%;
    margin-left: 0%;
  }
  .calendar_container {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .work {
    position: static;
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .work_popup {
    display: flex;
    flex-direction: row;
  }
  .popup {
    position: static;
    background-color: #4b4a54;
    height: 500px;
    width: 65%;
    display: none;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .button_today {
    display: flex;
    flex-direction: row-reverse;
  }
  .x {
    position: relative;
    top: 0px;
    right: 0px;
    height: 30px;
    color: white;
    font-size: 20px;
  }
  .x :hover {
    transform: scale(1.1);
    color: #82a0aa;
  }
  .today {
    position: relative;
    display: bolci;
    width: 120px;
    left: 20px;
    top: 0px;
    margin-top: 3px;
  }
  .todo_list {
    text-align: center;
    background-color: white;
    margin: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    position: static;
  }
  /*모바일에서는 스크롤바X... Bug1*/
  .items {
    height: 385px;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: auto !important;
  }
  ::-webkit-scrollbar {
    width: 7px !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px !important;
    background: rgba(0, 0, 0, 0.5) !important;
  }

  ::-webkit-scrollbar:window-inactive {
    visibility: hidden !important;
  }

  .footer {
    display: flex;
  }

  .footer__input {
    background-color: #677381;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 16px;
  }

  .footer__button {
    background-color: #677381;
    width: 48px;
    height: 32px;
    font-size: 28px;
    color: white;
    transition: transform 300ms ease-in;
    border-radius: 10px;
  }

  .overviewBtn {
    top: 130px;
    right: 3%;
  }
  .BtnAfter {
    font-size: 50px;
    top: 80px;
    left: 5%;
  }
  .overview_popup {
    width: 100%;
    display: none;
    position: absolute;
    left: 90%;
    top: 35%;
    z-index: 2;
    transform: translate3d(0, 0, 2px);
    -webkit-transform: translate3d(0, 0, 2px);
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    -o-transform: translateZ(2px);
    transform: translateZ(2px);
  }
  #weather {
    position: absolute;
    right: 30px;
    top: 3%;
    z-index: 2;
  }

  #clock {
    position: absolute;
    right: 28px;
    top: 2%;
    z-index: 2;
    font-size: 35px;
    transform: translate(-5%, -5%);
  }

  .background_cover {
    margin-top: 50px;
    background-color: black;
    display: none;
    position: absolute;
    top: 0;
    width: 286%;
    height: 100%;
    opacity: 50%;
    z-index: 1;
    transform: translate3d(0, 0, 1px);
    -webkit-transform: translate3d(0, 0, 1px);
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px);
  }
}
